

.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
* {
    margin: 0;
    padding: 0;
}

html, body, .form1 {
    width: 100vw;
    height: 100vh;
}

.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

input.txt {
    min-width: 45vw;
    height: 30px;
}

input.send {
    min-width: 5vw;
    height: 30px;
}