
{% extends 'templates/base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Delete</h1>
      <p class="lead">***Do you really delete this todo? ***</p>
    </div>
</div>

{% endblock %}  
{% block content %}
<div class="mx-auto" style="width: 300px;">
    <div class="alert alert-primary" role="alert">
        <form action='' method='POST'>{% csrf_token %}
            <p><b>Do you really delete this todo?</b></p>
            <input type='submit' value='Delete'>
        </form>
        <p></p>
        <a href="{% url 'list' %}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Back</a>
    </div>
</div>
{% endblock content %}